@{
    ViewData["Title"] = "Home Page";
}

<div class="banner container">
    <h1 class="banner-text display-4 p-3">Welcome to Liverpool FC</h1>
</div>

<!--Featured section-->
<h1 class="text-center p-3">Featured</h1>
<div>

</div>
